@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;

  background: #f3f5f6;
  color: #171717;
  color: #4e6e7e;
  color: #122f3f;
  color: #d7da2f;
  color: #d9e6ec;
}
