@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;

  /* color: hsl(203, 41%, 72%);
  color: hsl(200, 26%, 54%);
  color: #4e6e7e;
  color: hsl(202, 55%, 16%);
  color: #d7da2f; */
}
